 .heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
 }

 .note{
    font-size: 15px;
    color: black;
 }

 .copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%; 
    background-color: gray;
    line-height: 3;
    text-align: center;
 }

 body{
   background-image:url("https://rukminim2.flixcart.com/image/850/1000/kxxl9jk0/poster/2/j/e/small-2sxlczch-sketches-gradient-doodle-logo-wallpaper-poster-vp-original-imaga9xrmsvfxqbv.jpeg?q=20&crop=false") ;
 }